/* fira-code-300 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/fira-code-v22-latin-300.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fira-code-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/fira-code-v22-latin-600.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --font-family: 'Fira Code', monospace;
  font-family: var(--font-family);

  /* Spacing */
  --spacing-xs: 4px;
  /* Extra small spacing */
  --spacing-sm: 8px;
  /* Small spacing */
  --spacing-md: 16px;
  /* Medium spacing */
  --spacing-lg: 24px;
  /* Large spacing */
  --spacing-xl: 32px;
  /* Extra large spacing */

}

body {
  overflow: hidden;

  /* Secondary color */
  --secondary-color: #6c757d;
  /* Background color */
  --background-color-lighter: #202020;
  --background-color: #151515;
  --background-color-darker: #101010;
  --text-color: #aeaeae;

  background-color: var(--background-color-darker);
}

body.theme-catppuccin {
  --text-color: #CDD6F4;
  --background-color-lighter: #313244;
  --background-color: #1E1E2E;
  --background-color-darker: #11111b;
}

body {
  margin: 0;
}

/* canvas { */
/*   display: none !important; */
/* } */
